<section class="about retreat" id="about-us">
  <div class="container about-container">
    <div>
      <h2 class="about-title">About Us</h2>
      <h3 class="about-second-title">Merge Mystery: Lost Island</h3>
      <p class="about-text">
        is an immersive adventure puzzle game where players uncover the secrets
        of a lost island by merging items. Discover hidden treasures, solve
        challenging puzzles, and explore unique locations as you help the
        islanders rebuild their lost paradise. Each merge reveals new
        discoveries, making this game both engaging and relaxing.
      </p>
    </div>
    <img
      srcset="./img/iPhone13.png 1x, ./img/iPhone13@2x.png 2x"
      alt="iPhone13"
      width="353"
      height="686"
      class="about-img"
      src="./img/iPhone13.png"
    />
  </div>
</section>
