<section class="benefits" id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <img
          srcset="./img/Benefits1@1x.png 1x, ./img/Benefits1@2x.png 2x"
          class="benefits-list-item-image"
          src="./img/Benefits1@1x.png"
          alt="image benefits"
        />
        <h3 class="benefits-list-item-title">Offline Play</h3>
        <p class="benefits-list-item-text">
          Enjoy exploring the island and solving puzzles without needing an
          internet connection.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          srcset="./img/Benefits2@1x.png 1x, ./img/Benefits2@2x.png 2x"
          class="benefits-list-item-image"
          src="./img/Benefits2@1x.png"
          alt="image benefits"
        />
        <h3 class="benefits-list-item-title">Daily Quests</h3>
        <p class="benefits-list-item-text">
          Complete daily quests to earn rewards and advance your journey on the
          island.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          srcset="./img/Benefits3@1x.png 1x, ./img/Benefits3@2x.png 2x"
          class="benefits-list-item-image"
          src="./img/Benefits3@1x.png"
          alt="image benefits"
        />
        <h3 class="benefits-list-item-title">Diverse Challenges</h3>
        <p class="benefits-list-item-text">
          Tackle various merging puzzles and enjoy a wide range of scenes and
          items to uncover.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          srcset="./img/Benefits4@1x.png 1x, ./img/Benefits4@2x.png 2x"
          class="benefits-list-item-image"
          src="./img/Benefits4@1x.png"
          alt="image benefits"
        />
        <h3 class="benefits-list-item-title">Regular Updates</h3>
        <p class="benefits-list-item-text">
          Frequent additions of new areas, challenges, and items to keep
          gameplay fresh.
        </p>
      </li>
    </ul>
  </div>
</section>
