<section class="faq-section container retreat" id="faq">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list faq-accordion-container">
    <li class="faq-item ac">
      <h3 class="faq-item-title ac-header">
        <button class="faq-item-btn ac-trigger" type="button">
          <span class="faq-item-btn-icon">
            <svg width="35" height="30">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          How do I start playing Merge Mystery: Lost Island?
        </button>
      </h3>
      <div class="faq-item-description-container ac-panel">
        <p class="faq-item-description ac-text">
          Download from the Play Store and begin merging items to unlock new
          areas of the island.
        </p>
      </div>
    </li>
    <li class="faq-item ac">
      <h3 class="faq-item-title ac-header">
        <button class="faq-item-btn ac-trigger" type="button">
          <span class="faq-item-btn-icon">
            <svg width="35" height="30">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          Is the game free?
        </button>
      </h3>
      <div class="faq-item-description-container ac-panel">
        <p class="faq-item-description ac-text">
          Yes, it’s free with optional in-app purchases for boosters and special
          items.
        </p>
      </div>
    </li>
    <li class="faq-item ac">
      <h3 class="faq-item-title ac-header">
        <button class="faq-item-btn ac-trigger" type="button">
          <span class="faq-item-btn-icon">
            <svg width="35" height="30">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          Can I play without an internet connection?
        </button>
      </h3>
      <div class="faq-item-description-container ac-panel">
        <p class="faq-item-description ac-text">
          Absolutely! The game offers offline play for uninterrupted island
          exploration.
        </p>
      </div>
    </li>
    <li class="faq-item ac">
      <h3 class="faq-item-title ac-header">
        <button class="faq-item-btn ac-trigger" type="button">
          <span class="faq-item-btn-icon">
            <svg width="35" height="30">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          How often is new content added?
        </button>
      </h3>
      <div class="faq-item-description-container ac-panel">
        <p class="faq-item-description ac-text">
          New locations, puzzles, and items are added regularly to keep the game
          exciting.
        </p>
      </div>
    </li>
    <li class="faq-item ac">
      <h3 class="faq-item-title ac-header">
        <button class="faq-item-btn ac-trigger" type="button">
          <span class="faq-item-btn-icon">
            <svg width="35" height="30">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          Are there any in-game rewards?
        </button>
      </h3>
      <div class="faq-item-description-container ac-panel">
        <p class="faq-item-description ac-text">
          Yes, complete daily quests and challenges to earn rewards and unlock
          special items.
        </p>
      </div>
    </li>
  </ul>
</section>
