<footer class="footer-section container retreat">
  <div class="footer-content">
    <!-- Лого зліва -->
    <a href="index.html" class="footer-logo">
      <img src="./img/Rectangle28.png" alt="Game Logo" />
    </a>
    <h2 class="footer-title">Merge Mystery: Lost Island</h2>
    <div class="footer-center">
      <div class="footer-links">
        <a href="./page-2.html">Privacy Policy</a>
        <span>/</span>
        <a href="./page-3.html">Terms and Conditions</a>
      </div>
      <div class="footer-social">
        <a
          href="https://play.google.com/store/apps/details?id=com.fwaygames.lostmerge"
        >
          <svg class="social-net-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- Копірайт текст посередині зліва -->
  <p class="copyright">©2024 TopBestJoy.com, All rights reserved.</p>
</footer>
