<section class="gallery retreat-gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-icons-arrows">
      <button type="button" class="gallery-btn gallery-button-prev">
        <svg class="gallery-icon-left">
          <use href="./img/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <button type="button" class="gallery-btn gallery-button-next">
        <svg class="gallery-icon-right">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <div class="gallery-list-mob swiper">
      <div class="gallery-image-list-mob swiper-wrapper">
        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery1-mob@1x.png 1x, ./img/Gallery1-mob@2x.png 2x"
            src="./img/Gallery1-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery2-mob@1x.png 1x, ./img/Gallery2-mob@2x.png 2x"
            src="./img/Gallery2-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery3-mob@1x.png 1x, ./img/Gallery3-mob@2x.png 2x"
            src="./img/Gallery3-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery4-mob@1x.png 1x, ./img/Gallery4-mob@2x.png 2x"
            src="./img/Gallery4-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery5-mob@1x.png 1x, ./img/Gallery5-mob@2x.png 2x"
            src="./img/Gallery5-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery6-mob@1x.png 1x, ./img/Gallery6-mob@2x.png 2x"
            src="./img/Gallery6-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery7-mob@1x.png 1x, ./img/Gallery7-mob@2x.png 2x"
            src="./img/Gallery7-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery8-mob@1x.png 1x, ./img/Gallery8-mob@2x.png 2x"
            src="./img/Gallery8-mob@1x.png"
            alt="gallery image"
          />
        </div>

        <div class="gallery-image-item-mob swiper-slide">
          <img
            srcset="./img/Gallery9-mob@1x.png 1x, ./img/Gallery9-mob@2x.png 2x"
            src="./img/Gallery9-mob@1x.png"
            alt="gallery image"
          />
        </div>
      </div>
    </div>
    <div class="gallery-list-desk swiper">
      <div class="gallery-image-list-desk swiper-wrapper">
        <div class="gallery-group-image-item-desk swiper-slide">
          <img
            srcset="
              ./img/Gallery1-desk@1x.png 1x,
              ./img/Gallery1-desk@2x.png 2x
            "
            src="./img/Gallery1-desk@1x.png"
            alt="gallery image"
          />
          <div class="gallery-group-image-second">
            <img
              srcset="
                ./img/Gallery2-desk@1x.png 1x,
                ./img/Gallery2-desk@2x.png 2x
              "
              src="./img/Gallery2-desk@1x.png"
              alt="gallery image"
            />
            <img
              srcset="
                ./img/Gallery3-desk@1x.png 1x,
                ./img/Gallery3-desk@2x.png 2x
              "
              src="./img/Gallery3-desk@1x.png"
              alt="gallery image"
            />
          </div>
        </div>

        <div class="gallery-group-image-item-desk swiper-slide">
          <img
            srcset="
              ./img/Gallery4-desk@1x.png 1x,
              ./img/Gallery4-desk@2x.png 2x
            "
            src="./img/Gallery4-desk@1x.png"
            alt="gallery image"
          />
          <div class="gallery-group-image-second">
            <img
              srcset="
                ./img/Gallery5-desk@1x.png 1x,
                ./img/Gallery5-desk@2x.png 2x
              "
              src="./img/Gallery5-desk@1x.png"
              alt="gallery image"
            />
            <img
              srcset="
                ./img/Gallery6-desk@1x.png 1x,
                ./img/Gallery6-desk@2x.png 2x
              "
              src="./img/Gallery6-desk@1x.png"
              alt="gallery image"
            />
          </div>
        </div>

        <div class="gallery-group-image-item-desk swiper-slide">
          <img
            srcset="
              ./img/Gallery7-desk@1x.png 1x,
              ./img/Gallery7-desk@2x.png 2x
            "
            src="./img/Gallery7-desk@1x.png"
            alt="gallery image"
          />
          <div class="gallery-group-image-second">
            <img
              srcset="
                ./img/Gallery8-desk@1x.png 1x,
                ./img/Gallery8-desk@2x.png 2x
              "
              src="./img/Gallery8-desk@1x.png"
              alt="gallery image"
            />
            <img
              srcset="
                ./img/Gallery9-desk@1x.png 1x,
                ./img/Gallery9-desk@2x.png 2x
              "
              src="./img/Gallery9-desk@1x.png"
              alt="gallery image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
