<section class="gallery retreat">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-icons-arrows">
      <button type="button" class="gallery-btn swiper-button-prev">
        <svg class="gallery-icon-left">
          <use href="./img/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <button type="button" class="gallery-btn swiper-button-next">
        <svg class="gallery-icon-right">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <div class="gallery-list swiper mySwiper">
      <ul class="gallery-image-list swiper-wrapper">
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery1@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery2@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery3@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery4@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery5@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery6@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery7@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery8@1x.png" alt="gallery image" />
        </li>
        <li class="gallery-image-item swiper-slide">
          <img src="./img/Gallery9@1x.png" alt="gallery image" />
        </li>
      </ul>
    </div>
  </div>
</section>
