<header class="header">
  <div class="container header-container">
    <a href="index.html"
      ><img src="./img/logo68.png" alt="logo" class="header-logo"
    /></a>
    <div class="header-title">
      <p>Merge Mystery: Lost Island</p>
    </div>
    <nav class="header-menu-desk">
      <ul class="header-menu-list">
        <li class="header-menu-item"><a href="index.html">Home</a></li>
        <li class="header-menu-item"><a href="#gallery">Gallery</a></li>
        <li class="header-menu-item"><a href="#about-us">About us</a></li>
        <li class="header-menu-item"><a href="#benefits">Benefits</a></li>
        <li class="header-menu-item"><a href="#reviews">Reviews</a></li>
        <li class="header-menu-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button type="button" class="header-btn-burger">
      <svg class="header-burger" width="36" height="36">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
