<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Merge Mystery: Lost Island</h1>
    <p class="hero-text">
      Discover, Merge, and Uncover the Secrets of the Lost Island!
    </p>
    <button type="button" class="hero-btn">
      <a
        href="https://play.google.com/store/apps/details?id=com.fwaygames.lostmerge"
        target="_blank"
      >
        <div class="hero-btn-content">
          <svg class="hero-btn-icon">
            <use href="./img/sprite.svg#icon-logo-google-play"></use>
          </svg>
          <div class="hero-btn-texts">
            <p class="hero-btn-text-up">GET IT ON</p>
            <p class="hero-btn-text-down">Google Play</p>
          </div>
        </div>
      </a>
    </button>
  </div>
</section>
