.gallery-container {
  padding-top: 40px;
  @include media(desktop) {
    width: 1200px;
    padding-top: 120px;
  }
}

.gallery-title {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 40px;
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 80px;
  }
}

.gallery-icons-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

.gallery-icon-left,
.gallery-icon-right {
  stroke: rgba(26, 71, 49, 1);
  width: 40px;
  height: 40px;
  transition: stroke 0.25s ease-in-out;
  &:hover,
  &:focus {
    stroke: rgba(255, 111, 60, 1);
  }
  @include media(desktop) {
    width: 68px;
    height: 68px;
  }
}

.gallery-list-mob.swiper {
  width: 100%;
  height: auto;
  @include media(desktop) {
    display: none;
  }
}

.gallery-image-item-mob.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

.gallery-image-item-mob.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-list-desk.swiper {
  display: none;
  @include media(desktop) {
    display: block;
    .gallery-group-image-item-desk.swiper-slide {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 20px;
    }

    .gallery-group-image-item-desk.swiper-slide img {
      display: block;
      border-radius: 15px;
      object-fit: cover;
    }

    .gallery-group-image-second {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
