.header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(26, 71, 49, 1),
    rgba(18, 52, 59, 1)
  );
}

.header-container {
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(desktop) {
    padding: 27px 197px 27px 80px;
    width: 1200px;
  }
}

.header-logo {
  width: 40px;
  height: 40px;
  @include media(desktop) {
    width: 60px;
    height: 60px;
  }
}

.header-title {
  width: 160px;
  height: 44px;
  font-style: normal;
  color: #f2ebd5;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  @include media(desktop) {
    display: none;
  }
}

.header-menu-desk {
  display: none;
  @include media(desktop) {
    display: flex;
    ul {
      display: flex;
      flex-direction: row;
      gap: 45px;
      li {
        color: #f2ebd5;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.25s ease-in-out;
        &:hover,
        &:focus {
          color: rgba(255, 111, 60, 1);
        }
      }
    }
  }
}

.header-btn-burger {
  background-color: transparent;
  border: none;
  fill: rgba(255, 111, 60, 1);
  @include media(desktop) {
    display: none;
  }
}
