.mob-menu {
  position: fixed;
  top: 88px;
  right: 0;
  width: 180px;
  height: 262px;
  background-color: #1a4731;
  z-index: 888;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  @include media(desktop) {
    display: none;
  }
}

.mob-menu.open {
  transform: translateX(0);
}

.mob-menu-container {
  padding: 24px 40px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  li {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.25s ease-in-out;
    &:hover,
    &:focus {
      color: rgba(255, 111, 60, 1);
    }
  }
}
