@include media(mobile) {
  .reviews-section .container {
    width: 320px;
  }
  .reviews-section-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .reviews-nav-div {
    display: flex;
    justify-content: space-between;
  }

  .reviews-button-prev,
  .reviews-button-next {
    padding: 0;
    padding-bottom: 20px;
    border: none;
    font: inherit;
    stroke: $_main_color_text;
    background-color: transparent;
    transition: stroke $_time_transform $_cubic_bezier;

    &:hover {
      stroke: $_accent_color;
    }
  }

  .reviews-card.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    background-color: #1a4731;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    background-image: url(/img/EllipseRew@1x.png);
    background-position: center;
  }

  .reviews-section.swiper-wrapper {
    display: flex;
    align-items: stretch;
  }

  .reviewer-avatar {
    display: none;
  }

  .review-divider-top {
    margin: 35px auto 24px;
    border: 1px solid #2abf9e;
    width: 200px;
  }

  .review-divider-bottom {
    margin: 0 auto 14px;
    border: 1px solid #2abf9e;
    width: 200px;
  }

  .review-text {
    @include font(20, 28);
    padding: 0 40px 24px;
    text-align: center;
    color: #fff;
  }

  .reviewer-name {
    padding-bottom: 36px;
    @include font(14, 28);
  }
}
@include media(desktop) {
  .reviews-section .container {
    width: 1200px;
  }
  .reviewer-avatar {
    display: block;
    padding-top: 20px;
    max-width: 142px;
    margin: 0 auto;
  }

  .reviews-nav-div {
    display: none;
  }

  .reviews-section.swiper {
    display: none;
  }

  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
    align-items: stretch;
  }

  .reviews-card {
    flex: 1 1 calc(50% - 20px);
    max-width: 510px;
    border-radius: 25px;
    background-color: #1a4731;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url(/img/EllipseRew@1x.png);
    background-position: center;
  }
  .reviews-card:nth-child(1) {
    order: 1;
  }

  .reviews-card:nth-child(2) {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // Картка №3 (по центру, прозорий фон)
  .reviews-card.spec-slide {
    flex: 0 0 100%;
    order: 3;
    background-color: transparent;
    margin: 0 50px;
    color: #000;
    background-image: none;

    .review-text {
      color: #000;
    }
  }
  .reviews-card:nth-child(4) {
    order: 4;
  }

  .reviews-card:nth-child(5) {
    order: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .reviews-card:nth-child(5) .review-divider-bottom {
    margin: 49px auto 23px;
  }
  .reviews-card:nth-child(2) .review-divider-bottom {
    margin: 50px auto 30px;
  }

  .reviews-card:nth-child(5) .reviewer-name {
    margin-top: 10px;
  }
  .review-divider-top {
    width: 334px;
  }
  .review-divider-bottom {
    margin: 0 auto 32px;
    width: 334px;
  }
  .review-text {
    @include font(36, 50);
    padding: 48px 0;
  }
  .reviewer-name {
    padding-bottom: 20px;
    @include font(24, 33);
  }
}
@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .reviews-card {
    @include media(desktop) {
      background-image: url(/img/EllipseRew@2x.png);
      background-size: 541px 441px;
    }
  }
}
